<div class="map-popup-wrap">
    <div class="map-popup">
       <div class="infoBox-close"><i class="fal fa-times"></i></div>
       <a href="' + locationURL + '" class="listing-img-content fl-wrap">
          <div class="infobox-status ' + locationStatus + '">' + locationStatus + '</div>
          <img src="' + locationImg + '" alt="">
          <div class="card-popup-raining map-card-rainting"><span class="map-popup-reviews-count">'+ propertyAmount + '</span></div>
       </a>
       <div class="listing-content">
          <div class="listing-content-item fl-wrap">
             <div class="map-popup-location-category yg-bg"><i class="fal ' + locationCategory + ' map-prop-icon"></i></div>
             <div class="listing-title fl-wrap">
                <h4><a href=' + locationURL + '>' + locationTitle + '</a></h4>
                <div class="map-popup-location-info"><i class="fas fa-map-marker-alt"></i>' + locationAddress + '</div>
             </div>
             <div class="map-popup-footer"><a href=' + locationURL + ' class="main-link">Details</a></div>
          </div>
       </div>
    </div>
</div>


